@import url(../../Style.css);

.main-chatpage {
    .chat-container {
        position: relative;
        min-height: calc(100vh - 20px);
    }

    .chats-header {
        display: flex;
        align-items: center;
        color: white;
        flex-direction: row;
        background-image: linear-gradient(to left, var(--first-color) 30%, var(--second-color) 100%);
        opacity: 0.9;
        width: 100%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    .chatcontact-avatar div {
        width: 50px;
        height: 50px;
        margin: 5px 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .right {
        text-align: right;
    }

    .left {
        text-align: left;
    }

    .data-msg {
        background-color: #e35cf63d;
        color: black;
        display: inline-block;
        width: auto;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        max-width: 80%;
    }

    .right .data-msg {
        background-color: #dfc8ff;
    }

    .left .data-msg {
        background-color: #e35cf63d;
    }

    .data-time {
        color: gray;
        font-size: 0.7rem;
        margin: 0px 5px;
    }

    .sent-message {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 3px 10px;
        z-index: 1;
        box-shadow: 0 0 87px #e35cf63d;
    }


    .sent-message textarea {
        width: calc(100% - 80px);
        /* Adjust the width as needed */
        padding: 10px;
        /* Adjust padding as needed */
        margin-right: 10px;
        /* Adjust margin as needed */
        border: 1px solid #ccc;
        /* Example border */
        border-radius: 5px;
        /* Example border radius */
    }

    .sent-message button {
        padding: 5px 20px;
        background-image: linear-gradient(to left, var(--first-color) 50%, var(--second-color) 100%);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 8px;
        font-size: 1.2rem;
    }

    .sent-message button:hover {
        background-color: #0056b3;
        /* Example hover background color */
    }



    /* Style for the chat-container */
    .chats {
        overflow-y: auto;
        /* Enable vertical scrolling */
        max-height: calc(100vh - 100px);
        /* Adjust the max height as needed, considering the header and footer heights */
        scroll-behavior: smooth;
        padding-bottom: 80px;
    }

    /* Style for the scroll bar */
    .chats::-webkit-scrollbar {
        width: 10px;
        /* Width of the scroll bar */
    }

    /* Track */
    .chats::-webkit-scrollbar-track {
        background: #f1f1f1;
        /* Background color of the track */
    }

    /* Handle */
    .chats::-webkit-scrollbar-thumb {
        background: gray;
        /* Color of the scroll bar handle */
    }

    /* Handle on hover */
    .chats::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* Color of the scroll bar handle on hover */
    }
    .chat-number{
        font-size: 12px;
        color: white;
    }
}