@import url(../../Style.css);

.main-chatpage{
    .chats-header{
        position: fixed;
        display: flex;
        align-items:center;
        color:white;
        flex-direction: row;
        background-image: linear-gradient(to left, var(--first-color) 30%, var(--second-color) 100%);
        opacity:0.9;
        width:59.8%;
        border-radius:5px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    .chatcontact-avatar div{
        width: 50px;
        height: 50px;
        margin:5px 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .right{
        text-align: right;
    }
    .left{
        text-align: left;
    }
    .data-msg{
        background-color:#e35cf63d;
        color:black;
        display: inline-block;
        width: auto;
        padding:10px;
        margin:5px;
        border-radius:5px;
    }

    .data-time {
        color: gray;
        font-size: 0.7rem;
        margin:0px 5px;
    }

    .sent-message {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 70%; /* Align to the horizontal center */
        transform: translateX(-50%); /* Move the element back by half of its width */
        width: 300px; /* Example width */
        background-color: #ffffff;
        padding: 10px;
        /* Example shadow */
        z-index: 1; /* Ensure the sent-message is above other content */
    }


    .sent-message textarea {
        width: calc(100% - 80px);
         /* Adjust the width as needed */
        padding: 10px; /* Adjust padding as needed */
        margin-right: 10px; /* Adjust margin as needed */
        border: 1px solid #ccc; /* Example border */
        border-radius: 5px; /* Example border radius */
    }
    
    .sent-message button {
        padding: 5px 20px; /* Adjust padding as needed */
        background-image: linear-gradient(to left, var(--first-color) 50%, var(--second-color) 100%); /* Example background color */
        color: #fff; /* Text color */
        border: none;
        border-radius: 5px; /* Example border radius */
        cursor: pointer;
    }
    
    .sent-message button:hover {
        background-color: #0056b3; /* Example hover background color */
    }
    


    /* Style for the chat-container */
.chat-container {
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 100px); /* Adjust the max height as needed, considering the header and footer heights */
    scroll-behavior: smooth;
}

/* Style for the scroll bar */
.chat-container::-webkit-scrollbar {
    width: 10px; /* Width of the scroll bar */
}

/* Track */
.chat-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the track */
}

/* Handle */
.chat-container::-webkit-scrollbar-thumb {
    background:gray; /* Color of the scroll bar handle */
}

/* Handle on hover */
.chat-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll bar handle on hover */
}

}