@import url(../../Style.css);

.main-approved {
  .content-container {
    margin: 20px;
  }

  .data-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }

  .card-1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .card-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 5px;
    /* padding: 20px; */
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .card-left {
    flex: 2;
  }

  .card-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .card-right-1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: -1;
    border-radius: 5px;
    background: linear-gradient(45deg, #17ead9, #6078ea);
    ;
  }

  .card-right-2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: -1;
    border-radius: 5px;
    background: linear-gradient(45deg, #f54ea2, #ff7676);
  }

  .card-right-3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: -1;
    border-radius: 5px;
    background: linear-gradient(45deg, #ffdf40, #ff8359);
  }

  .card-right-4::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: -1;
    border-radius: 5px;
    background: linear-gradient(45deg, #00b09b, #96c93d);
  }

  .card-1-title {
    padding: 5px;
  }

  .card-1-count {
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .card-i {
    font-size: 1.5rem;
    color: white;
  }

  /* .card-i-1{
        color: white;
        background: linear-gradient( 45deg, #17ead9, #6078ea);
        border-radius: 5px;
        padding: 15px;
    }
    .card-i-2{
        color: white;
        background: linear-gradient(45deg, #f54ea2, #ff7676);
        border-radius: 5px;
        padding: 15px;
    }
    .card-i-3{
        color: white;
        background: linear-gradient(45deg, #ffdf40, #ff8359);
        border-radius: 5px;
        padding: 15px;
    }
    .card-i-4{
        color: white;
        background: linear-gradient( 45deg , #00b09b, #96c93d);
        border-radius: 5px;
        padding: 15px;
    } */
  .chart-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }

  .card-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    flex: 1;
    padding: 20px;
    margin: 10px 0;
    max-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .card-3-2 {
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
    flex: 3;
    padding: 0;
    position: relative;
  }

  .view-all-div {
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .view-all-div2 {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .view-all-btn {
    background: none;
    border: none;
    color: blueviolet;
    cursor: pointer;
  }

  .details-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .details-header-name p:nth-child(1) {
    color: gray;
    font-size: .8rem;
    margin-bottom: 5px;
  }

  .details-header-name p:nth-child(2) {
    font-weight: bold;
    font-size: 1.1rem;
  }

  .payroll-btn-1 {
    background-color: white;
    padding: 5px 10px;
    /* border: 2px solid gray; */
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 0 10px;
    border-radius: 5px;
    color: gray;
    cursor: pointer;
  }

  .payroll-btn-1:hover {
    background-color: gray;
    color: white;
  }

  .payroll-btn-2 {
    background-color: white;
    padding: 3px 15px;
    /* border: 2px solid gray; */
    border: none;
    box-shadow: blueviolet 0px 1px 3px 0px, blueviolet 0px 0px 0px 1px;
    margin: 0 10px;
    border-radius: 5px;
    color: blueviolet;
    cursor: pointer;
  }

  .payroll-btn-2:hover {
    background-color: blueviolet;
    color: white;
  }

  .details-table {
    width: 100%;
    border-collapse: collapse;
    font-size: .9rem;
  }

  .details-table tr th {
    padding: 10px;
  }

  .details-table thead tr {
    background-color: #0000000f;
  }

  .details-table tr td {
    padding: 10px 20px;
  }

  .profile {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .profile-img {
    display: flex;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  .profile-img span {
    color: black;
    font-weight: bold;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .profile-name {
    color: black;
    margin: 0;
  }

  .profile-role {
    color: gray;
    font-size: .8rem;
    margin: 0;
  }

  .status {
    padding: 5px 10px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 25px;
    border-radius: 20px;
    font-size: .8rem;
  }

  .status-success {
    color: #00b09b;
    background-color: #00b09b26;
  }

  .status-failed {
    color: #ff7676;
    background-color: #ff76763d;
  }

  .dot {
    font-size: 2rem;
    font-weight: bold;
  }

  .two-grid {
    display: flex;
    flex-direction: row;
  }

  .input-continer-v {
    flex-direction: column;
    flex: 2;
    align-self: flex-start;
  }
}