.main-campaign{
	box-shadow: 0px 0px 87px #e35cf63d;
	border:2px solid #e35cf63d;
	border-radius:10px;
width:90%;
margin:20px 20px;
padding:30px 30px;
/* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
/* border:1px solid #5d23ad; */
/* border-radius:10px; */
.wizard,
.wizard .nav-tabs,
.wizard .nav-tabs .nav-item {
	position: relative;
}
.wizard .nav-tabs:after {
	content: "";
	width: 80%;
	border-bottom: solid 2px #5d23ad;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 38%;
	z-index: -1;
}
.wizard .nav-tabs .nav-item .nav-link {
	width: 70px;
	height: 70px;
	margin-bottom: 6%;
	background: white;
	border: 2px solid #5d23ad;
	color: #5d23ad;
	z-index: 10;
}
.wizard .nav-tabs .nav-item .nav-link:hover {
	color: #333;
	border: 2px solid #333;
}
.wizard .nav-tabs .nav-item .nav-link.active {
	background: #fff;
	border: 2px solid #0dcaf0;
	color: #0dcaf0;
}
.wizard .nav-tabs .nav-item .nav-link:after {
	content: " ";
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	opacity: 0;
	margin: 0 auto;
	bottom: 0px;
	border: 5px solid transparent;
	border-bottom-color: #0dcaf0;
	transition: 0.1s ease-in-out;
}

.nav-tabs .nav-item .nav-link.active:after {
	content: " ";
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	opacity: 1;
	margin: 0 auto;
	bottom: 0px;
	border: 10px solid transparent;
	border-bottom-color: #0dcaf0;
}
.wizard .nav-tabs .nav-item .nav-link svg {
	font-size: 25px;
}
.tab-content input{
	width:250px;
	height:45px;
}
.tab-content .upload{
	display:flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width:450px;
	height:150px;
	border:2px dashed #e35cf63d;
	margin: 20px;
	cursor: pointer;
}
#cam_name{
	width:300px;
	height:35px;
}

}